spring:
  config:
    import: optional:file:.env
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  flyway:
        enabled=true:
jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000
